<h1>New pilot</h1>
<%= form_for @pilot do |f| %>
  <ol>
    <li>
      <%= f.label :name, class: 'required' %>
      <%= f.text_field :name %>
    </li>
  </ol>
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @pilots.each do |item| %>
      <tr>
        <td><%= item.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
