<%= form_for @operation do |f| %>
  <div id="pilots">
    <table>
      <thead>
        <tr>
          <th class="checkbox"><abbr title="Prepared">P</abbr></th>
          <th class="checkbox"><abbr title="Operated">O</abbr></th>
          <th>Pilot</th>
        </tr>
      </thead>

      <tbody>
        <%= f.fields_for :activities do |a| %>
          <tr>
            <td class="checkbox"><%= a.check_box :prepared %></td>
            <td class="checkbox"><%= a.check_box :operated %></td>
            <td>
              <%= a.hidden_field :pilot_id %>
              <%= a.hidden_field :id if a.object.id %>
              <%= a.object.pilot.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  
  <div id="operations">
    <h1><%= @operation.new_record? ? 'New' : 'Edit' %> operation</h1>
    <ol>
      <li>
        <%= f.label :site_id %>
        <%= f.collection_select :site_id, Site.all, :id, :name %>
      </li>
      <%= f.fields_for :drops do |d| %>
        <li data-sites="<%= Site.select{ |site| site.items.include? d.object.item }.collect(&:id) * ' ' %>">
          <%= d.label :quantity, d.object.item.name %>
          <%= d.number_field :quantity %>
          <%= d.hidden_field :item_id %>
          <span class="item-value"><%= d.object.item.value.isk %></span>
        </li>
      <% end %>
    </ol>
    <%= f.submit %>
  </div>
<% end %>
