<div id="pilots">
  <table>
    <thead>
      <tr>
        <th class="checkbox"><abbr title="Hauled">H</abbr></th>
        <th>Pilot</th>
        <th class="value">Profit</th>
      </tr>
    </thead>
    <tbody>
      <% @pilots.each do |pilot| %>
        <tr>
          <td class="checkbox"><%= check_box_tag :hauled %></td>
          <td><%= pilot.name %></td>
          <td class="value">100,000,000.00 ISK</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2>Total<span class="total">100,000,000.00 ISK</span></h2>
  <%= form_tag '' do %>
    <%= submit_tag 'Mark all as paid' %>
  <% end %>
</div>

<div id="operations">
  <%= link_to 'New operation', new_operation_path %>
  <h1>Operations</h1>
  <% @operations.each do |operation| %>
    <div class="operation">
      <%= image_tag operation.image if operation.image %>
      <span class="pilots">
        <%== pilots_by_activity operation.activities %>
      </span>
      <h2><%= link_to operation.site.name, edit_operation_path(operation) %></h2>
      <span class="date"><%= operation.created_at.to_s(:short) %></span>
      <span class="total"><%= operation.total.isk %></span>
    </div>
  <% end %>
  <div class="operation">
    <span class="pilots">
      <span class="prepared">Prepared</span>,
      <span class="operated">Operated</span>,
      <span class="operated prepared">Both</span>
    </span>
    <h2>Legend</h2>
  </div>
</div>
