<div id="pilots">
  <table>
    <thead>
      <tr>
        <th class="checkbox"><abbr title="Hauled">H</abbr></th>
        <th>Pilot</th>
        <th class="value">Profit</th>
      </tr>
    </thead>
    <tbody>
      <% @pilots.each do |pilot| %>
        <tr>
          <td class="checkbox hauled"><%= check_box_tag dom_id(pilot) %></td>
          <td><%= pilot.name %></td>
          <td class="value" data-total="<%= pilot.total %>"><%= pilot.total.isk %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="tax">
    Hauling (<%= Operation::Hauling.percent %>)
    <span data-hauling="<%= Operation.hauling %>"><%= Operation.hauling.isk %></span>
  </div>
  <div id="tax">Tax (<%= Operation::Tax.percent %>)<span><%= Operation.tax.isk %></span></div>
  <h2>Total<span class="total"><%= Operation.total.isk %></span></h2>
  <%= form_tag 'operations/pay' do %>
    <%= submit_tag 'Mark all as paid' %>
  <% end %>
</div>

<div id="operations">
  <%= link_to 'New operation', new_operation_path %>
  <h1>Operations</h1>
  <% @operations.each do |operation| %>
    <div class="operation">
      <%= image_tag operation.image if operation.image %>
      <span class="pilots">
        <%== pilots_by_activity operation.activities %>
      </span>
      <h2><%= link_to operation.site.name, edit_operation_path(operation) %></h2>
      <span class="date">
        <%= operation.created_at.to_s(:short) %>
        <%= ", #{operation.tax_rate}% tax" if operation.tax_rate != Operation::Tax * 100 %></span>
      <span class="total"><%= operation.total.isk %></span>
      <div class="advanced">
        <table>
          <% operation.activities.collect(&:pilot).each do |pilot| %>
          <tr>
            <td><%= pilot.name %></td>
            <td><%= (operation.preparing(pilot) + operation.operating(pilot)).isk %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
  <div class="operation">
    <span class="pilots">
      <span class="prepared">Prepared</span>,
      <span class="operated">Operated</span>,
      <span class="operated prepared">Both</span>
    </span>
    <h2>Legend</h2>
  </div>
</div>
